.Article {
    background-color: var(--skinColor);
    margin-top: 400px;
    margin-bottom: 400px;
}

.Article .article_wrap {
    position: relative;
    width: 860px;
    margin: 0 auto;
    font-size: 12px;
}