body {
  position: relative;
  -webkit-text-size-adjust: none;
  font-weight: 400;
  font-family: Apple SD Gothic Neo,맑은 고딕,Malgun Gothic,돋움,dotum,sans-serif;
  color: var(--skinTextColor);
}

:root {
  --skinTextColor: #000000;
  --skinText323232: #323232;
  --skinText676767: #676767;
  --skinText979797: #979797;
  --skinTextb7b7b7: #b7b7b7;
  --GnbLink: #333;
  --GnbLinkBar: #e5e5e5;
  --GnbLinkArrow: #777;
  --LayoutHeaderTitleBg: url(https://ssl.pstatic.net/static/cafe/cafe_pc/bg_default_title_white_180724.png);
  --LayoutHeaderTitleName: #212121;
  --LayoutHeaderTitleUrl: #666;
  --skinListBorder: #f2f2f2;
  --skinThumbBorder: rgba(0, 0, 0, 0.06);
  --skinBar: rgba(0,0,0,0.15);
  --skinArticleLink: -webkit-link;
  --skinSourceBadge: #323232;
  --skinTagLinkColor: #323232;
  --skinToggleSwitchBg: #a7a7a7;
  --skinTempSaveBorder: rgba(0, 0, 0, 0.2);
  --skinCommentWriterBorder: rgba(0, 0, 0, 0.1);
  --skinCommentWriterBg: #ffffff;
  --skinCommentWriterText: #b7b7b7;
  --skinCommentWriterFocus: #eeeeee;
  --skinBox: #f9f9fa;
  --skinSvgIconPostBtnArrowUp: #323232;
  --skinSvgIconPostTop: #323232;
  --skinLayoutBorder: #ebecef;
  --skinBaseButtonDefaultBg: #eff0f2;
  --skinBaseButtonDefaultColor: #000000;
  --skinBaseButtonPointBg: rgba(3, 199, 90, 0.12);
  --skinBaseButtonPointColor: #009f47;
  --skinBgPostRefresh: url(https://ca-fe.pstatic.net/web-pc/static/img/ico-post-refresh.svg?f332c2e…);
  --skinSvgIconNpay: url(https://ca-fe.pstatic.net/web-pc/static/img/pc-ico-npay.svg?d0a9d54…);
  --skinSvgIconSolidWriting: #009F47;
  --skinColor: #ffffff;
  --skinCommentMineBg: #f9f9fa;
  --skinListSelectedBg: #f9f9fa;
  --skinBaseButtonDefaultBorder: transparent;
  --skinCommentRefreshButtonBorder: transparent;
  --skinNoticeBadgeRequiredBg: #ffe3e4;
  --skinNoticeBadgeMenuBg: #ffffff;
  --skinNoticeBadgeMenuBorder: #ffe3e4;
  --skinNoticeBadgeColor: #f53535;
}

:root {
  --skinSpecialMenuWidth: 1px;
  --skinSpecialMenuBorder: #e5e5e5;
  --skinSpecialMenuBg: transparent;
  --skinSpecialMenuColor: #333;
  --skinSpecialMenuDot: #a3a9a9;
}

a {
  text-decoration: none;
}

a:link, a:hover {
  text-decoration: none;
}

div {
  display: block;
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

dl, ol, ul {
  list-style: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.RelatedArticles a {
  color: inherit;
}