.CafeJoinInducement {
    position: relative;
    margin-top: 30px;
    padding: 19px 159px 19px 19px;
    height: 62px;
    border-radius: 6px;
    border: solid 1px var(--skinLayoutBorder);
    color: var(--skinArticleLink);
}

.CafeJoinInducement .btn_join {
    position: absolute;
    top: 34px;
    right: 20px;
    width: 95px;
    height: 34px;
    font-size: 13px;
    line-height: 36px;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
    background: var(--skinBaseButtonPointBg);
    color: var(--skinBaseButtonPointColor);
}

.CafeJoinInducement .thumb {
    position: relative;
    float: left;
    width: 62px;
    height: 62px;
    margin-right: 14px;
}

img {
    vertical-align: top;
}

fieldset, img {
    border: 0;
}

.CafeJoinInducement .thumb .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.CafeJoinInducement .thumb .border .svg-icon {
    width: 62px;
    height: 62px;
    vertical-align: top;
    color: var(--skinTextColor);
}

svg:not(:root) {
    overflow: hidden;
}

.CafeJoinInducement .cafe_info .cafe_desc, .CafeJoinInducement .cafe_info .cafe_name {
    display: block;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
}

.CafeJoinInducement .cafe_info .cafe_name {
    margin-top: 3px;
    color: var(--skinTextColor);
}

.CafeJoinInducement .cafe_info .cafe_desc {
    margin-top: 5px;
    color: var(--skinText676767);
}

.CafeJoinInducement .cafe_info .cafe_member {
    display: inline-block;
    margin-top: 5px;
    font-size: 13px;
    color: var(--skinText676767);
}

